
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
}

/* shared styles */

.flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;


    border: none; border-radius: 8px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 120px;
}
/* dark 01 */

/* dark 02 */
.gray{
    color:#424242;
}

/* dark 03 */

.light-gray{
    color: #727272;
}

.text-primary{
    color: #FF900E;
}

/* header */
.navbar{
    justify-content:space-between;
    align-items: center;
}
.nav-items{
    list-style: none;
   
   margin-right: 40px;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-links{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* styles for banner */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    line-height: 20px;
}
.banner-img{
    width: 100%;
}

/* features  styles */
.teams{
    align-items: center;
}
 
.teams-img-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
gap: 24px;
}
.features{
   margin-left: 130px;
   max-width: 530px;
}

#Quick{
    font-weight: 500;
}
/* styles for exprience */
.exprience{
    display: flex;
    gap: 146px;
    
}
.exp-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}
.exp-card{
    padding: 30px;
    border: none;
    box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
    border-radius: 8px;
    margin-bottom: 20px;
}
.exp-card .card-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}
#badge{
    padding: 45px 42px; 
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -92px;
}
.badge-time{
    font-size: 4rem;
    font-weight: ;
    line-height: 70px;
    color: white;
}
/* style for fact section */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts{
    border: 1px solid #FF900E;
    height: 240px; width: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px ;
    margin-bottom: 10px ;
}
.fact-name{
    font: size 1.25rem; ;
    font-weight: 600 ;
     margin-bottom: 10px ;

}

.fact-description{
    max-width: 540px;
}

/* sponsors styles */

.sponsors-info{
    max-width: 540px ;
    margin:50px auto ;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-company img
{
    filter: grayscale(100%);
}


/* footer styles */
.footer{ max-width: 1440px;
    margin: 130px auto 216px auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding-top:39px ; 
    padding-bottom:40px ;
    font-size: 1.25rem;
    color: rgba(66, 66, 66, 1);
}
/* media qurey for small device */

@media screen and (max-width:576px) {

    .navbar, 
    .nav-links,
    .teams,
    .exprience
     
    {
        flex-direction: column;
    }
    .teams-img-cont, 
    .facts-container,
    .sponsor-company
    {
   
    grid-template-columns: repeat(1, 1fr);

}

.features{
    margin-left: 20px;
}

.facts-container
 {
    justify-items: center;
    gap: 24px;
}

.sponsor-company {
    justify-items: center;
    gap: 50px;
}
#badge{
  margin-top: 20px;
  margin-left: 20px;
}
.architect img{
    width: 100%;
}


}

/* media qurey for mediam device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams,
    .exprience
    {
        flex-direction: column;
    }
.features{
    margin: 50px auto;
}
.sponsor-company, .facts-container
    {
   
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;

}
.facts-info{
    text-align: center;
    
}
.fact-description
{
    margin: 30px auto;
}
.some-facts{
    margin-top: 0;
}
#badge{
  margin-top: 20px;
  margin-left: 20px;
}
}